@page
@model IndexModel
@{
    ViewData["Title"] = "Recipe Logger";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my recipe tracker!</h1>
    <p>There are currently @Model.Count records in the database.</p>
</div>
