@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h3 class="text-white">Welcome</h3>
<hr class="text-white" />
<h5 class="text-white">This is HabitHub - the perfect place to track your habits!</h5>
<br />
<div class="row">
    <form method="post" asp-page-handler="GenerateReport">
        <input type="submit" value="Download report" class="btn btn-secondary" />
    </form>
</div>

<svg class="bi me-2" id="background-icon-large" width="400" height="400"><use xlink:href="#home" /></svg>
<svg class="bi me-2" id="background-icon-small" width="300" height="300"><use xlink:href="#home" /></svg>