@page
@model WaterDrinkingLogger.TwilightSaw.Pages.CreateModel
@{
    Layout = "_Layout";
}

<h2>Add a new Record</h2>
<hr />
<div class="row">
    <div class="col-md-4 form-group"> 
        <form method="post" class="form-row">
            <div class="form-group">
                <label asp-for="Action.Date" class="control-label"></label>
                <input type="date" asp-for="Action.Date" class="form-control"/>
                <span asp-validation-for="Action.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Action.Quantity" class="control-label"></label>
                <input type="number" step="0.1" asp-for="Action.Quantity" class="form-control" />
                <span asp-validation-for="Action.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Action.Measurement" class="control-label"></label>
                <input type="text" asp-for="Action.Measurement" class="form-control" />
                <span asp-validation-for="Action.Measurement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn custom-button mt-3" />
            </div>
        </form>
    </div>
</div>

