@page
@model DeleteModel
@{
}

<h3>Do you really want to delete this record?</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Action.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Action.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Action.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Action.Quantity)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Action.Id"/>
<input type="submit" value="Delete" class="btn btn-danger"/><br />
<a asp-page="./Home">Back to List</a>
    </form>

</div>