@page
@model ActionTracker.TwilightSaw.Pages.IndexModel
@{
    Layout = "_Layout";
}
<div class="text-center header">
    <h1 class="header-text">
       ActionTracker
    </h1>
    
</div>
<div class="body">
    <div class="underheader">
        <h2 class="header-undertext">
            Your actions
        </h2>
    </div>
    <div class="links">
        @foreach (var name in Model.Variables)
        {
            <a class="btn btn-table" asp-page="./Home" asp-route-id="@name.Item2" asp-route-name = "@name.Item1">@name.Item1</a>
        }
        <a value="+" class="btn btn-table" asp-page="./CreateAction">+</a>
    </div>
</div>
