@page
@model MVC.HabitTracker.JsPeanut.Pages.AboutModel
@{
}

<h2>About the site</h2>

<p>This is a website where you can log and track your habits, such as your <span class="highlight">water consumption</span>, <span class="highlight">exercise</span>, <span class="highlight">tooth brushing</span>, etc.</p>
