@page
@model MVC.HabitTracker.JsPeanut.Pages.AboutModel
@{
}

<h2>About the site</h2>

<p>This is a website where you can log and track your habits, such as your <span class="highlight">water consumption</span>, <span class="highlight">exercise</span>, <span class="highlight">tooth brushing</span>, etc.</p>

<h2>How does it work?</h2>

<p>You just need to log your habits (for example, if you drank a glass of water, log 1 glass of water) and then you'll be able to track the habits you logged!</p>
