@model GameTracker.Forser.Models.CreateGameSession
@{
    ViewData["Title"] = "Register a new gaming session";
}

<h1>Register a new gaming session</h1>

<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @if (Model.GameInfos != null)
                {
                    <select name="GameName" class="form-control" asp-items="@Model.GameInfos">
                        <option value="">-- Select Game for Session --</option>
                    </select>
                }
            </div>
            <div class="form-group">
                <label asp-for="GameSession.SessionStart" class="control-label"></label>
                <input asp-for="GameSession.SessionStart" class="form-control" />
                <span asp-validation-for="GameSession.SessionStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameSession.SessionEnd" class="control-label"></label>
                <input asp-for="GameSession.SessionEnd" class="form-control" />
                <span asp-validation-for="GameSession.SessionEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}