@model GameTracker.Forser.Models.CreateGameSession

@{
    ViewData["Title"] = "Edit a Game Session";
}

<h1>Editing Game Session: @Model.GameSession.Id</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="Id" asp-for="GameSession.Id" />
            <div class="form-group">
                @if (Model.GameInfos != null)
                {
                    <select name="allGames" id="allGames" class="form-control" asp-items="@Model.GameInfos">
                        <option value="">--- Select a Game for the Session ---</option>
                    </select>
                }
            </div>
            <div class="form-group">
                <label asp-for="GameSession.SessionStart" class="control-label"></label>
                <input asp-for="GameSession.SessionStart" asp-format="{0:yyyy-MM-dd HH:mm}" class="form-control" />
                <span asp-validation-for="GameSession.SessionStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameSession.SessionEnd" class="control-label"></label>
                <input asp-for="GameSession.SessionEnd" asp-format="{0:yyyy-MM-dd HH:mm}" class="form-control" />
                <span asp-validation-for="GameSession.SessionEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to Session List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}