@page
@model RunLogger.StanimalTheMan.Pages.CreateModel
@{

}

<h4>Add Record</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="MilesRun.Date" class="control-label"></label>
                <input type="date" asp-for="MilesRun.Date" class="form-control" />
                <span asp-validation-for="MilesRun.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MilesRun.Distance" class="control-label"></label>
                <input type="number" asp-for="MilesRun.Distance" class="form-control" step="0.01" />
                <span asp-validation-for="MilesRun.Distance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
