@page
@model RunLogger.StanimalTheMan.Pages.UpdateModel
@{
}

<h4>Update Record</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input type="hidden" asp-for="MilesRun.Id" />
            <div class="form-group">
                <label asp-for="MilesRun.Date" class="control-label"></label>
                <input type="date" asp-for="MilesRun.Date" class="form-control" />
                <span asp-validation-for="MilesRun.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MilesRun.Distance" class="control-label"></label>
                <input asp-for="MilesRun.Distance" class="form-control" />
                <span asp-validation-for="MilesRun.Distance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}