/* Custom Properties */

:root {
    --clr-dark: #32292F;
    --clr-light: #F0F7F4;
    --clr-accent: #70ABAF;
    --clr-accent-drk: #705D56;
}

html {
  font-size: 14px;

}

@media (min-width: 768px) {
  html {
    font-size: 16px;

  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

header img {
    max-width: 50px;
    height: auto;
}

/*.btn-danger {
    background-color: var(--clr-accent-drk);
    color: var(--clr-light);
    border: 0px;
}

.btn-primary {
    background-color: var(--clr-accent-drk);
    color: var(--clr-light);
    border: 0px;
}

.btn-success {
    background-color: var(--clr-accent-drk);
    border: 0px;
    
}*/

.form-group{
    padding: 1em;
}

