@page
@model Add
@{
    ViewData["Title"] = "Add";
}

<div class="d-flex flex-column text-center">
    <div class="p-1 m-1">
        <h2>Add new record</h2>
    </div>
    <div class="p-1 m-1">
        <form method="post" class="d-flex flex-column justify-content-center align-items-center">
            <div class="form-group p-2 w-25">
                <label asp-for="Drink.Date" class="form-label"></label>
                <input type="date" asp-for="Drink.Date" class="form-control text-center"/>
                <span asp-validation-for="Drink.Date" class="text-danger"></span>
            </div>
            <div class="form-group p-2 w-25">
                <label asp-for="Drink.Type" class="form-label"></label>
                <select asp-for="Drink.Type" class="form-control text-center">
                    <option value="water">water</option>
                    <option value="tea">tea</option>
                    <option value="coffee">coffee</option>
                    <option value="other">other</option>
                </select>
            </div>
            <div class="form-group p-2 w-25">
                <label asp-for="Drink.Measurement" class="form-label"></label>
                <select asp-for="Drink.Measurement" class="form-control text-center">
                    <option value="big bottle">big bottle</option>
                    <option value="bottle">bottle</option>
                    <option value="glass">glass</option>
                    <option value="cup">cup</option>
                    <option value="mug">mug</option>
                </select>
            </div>
            <div class="form-group p-2 w-25">
                <label asp-for="Drink.Quantity" class="form-label"></label>
                <input type="number" asp-for="Drink.Quantity" class="form-control text-center"/>
                <span asp-validation-for="Drink.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group p-2 align-self-center">
                <input type="submit" value="Add" class="btn btn-success"/>
            </div>
        </form>
    </div>
    <div class="p-1 m-1">
        <a asp-page="/Index">Back to list</a>
    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("Shared/_ValidationScriptsPartial");
    }
}