/*General*/

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    outline: none !important;
    box-shadow: none !important;
}

input[type=radio]:checked + label {
    border-color: #FFA400 !important;
}

label {
    outline: none !important;
    box-shadow: none !important;    
}

.navbar-brand {
    font-size: 30px;    
}

.navbar-toggler {
    border-color: #FFA400;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 164, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/*Index*/

body {
    margin-bottom: 60px;
    background-color: #39393A;
}

.messageContainer {   
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);   
    z-index: 1000;    
}

.card {
    cursor: pointer;
}

.activity-icon {
    width: 60px;
    height: 60px;
}

.transparent-btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.update-button {
    position: absolute;
    top: 3px;
    left: 5px;
    padding: 0.05rem;
    opacity: 0;
    transition: opacity 0.5s ease
}

.delete-button {
    position: absolute;
    top: 3px;
    right: 5px;
    padding: 0.05rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    opacity: 0;
    transition: opacity 0.5s ease
}

.delete-icon, .update-icon {
    width: 25px;
    height: 25px;
}

.card:hover {
    border-color: #232528;
    box-shadow: 0px 0px 15px 2px white;
}

.card:hover .card-body > img {
    border-color: #232528;
    transform: rotate(360deg);
    transition: transform 0.7s ease;
}

.card:hover .delete-button, .card:hover .update-button {
    opacity: 1;
}

.calendarDay-icon {
    width: auto;
    height: 24px;
}

.day-column-container {
    width: 30px;
    display: inline-block;
}

.details-button {
    background-color: #232528;
    color: #FFA400;
    border-color: #FFA400;
    border-radius: 10px;
    border-style: groove;   
}

/*Details*/

.table {
    background-color: #232528;
    color: white;
}

.table-hover tbody tr:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.075);
}

/*Colors*/

.orangetext{
    color: #FFA400;
}

.navyblue {
    background-color: #2A2A72;
}

.orange {
    background-color: #FFA400
}

.black {
    background-color: #232528
}

.lightblue {
    background-color: #009FFD
}
