@page
@model DeleteModel
@{
}

<h3>Are you sure you want to delete this record </h3>

<div>
    <form method="post">
        <input type="hidden" asp-for="Log.LogId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-page="./Index">Go Back</a>
    </form>
</div>