@page
@model CarSpottingTracker.mariusgrHiof.Pages.UpdateModel
@{
}

<form method="post">
    <input type="hidden" asp-for="CarSpotterModel.Id" />
    <fieldset>
        <legend>Update new record</legend>
        <div class="col-sm-4">
            <div class="form-group mt-4">
                <label class="form-label" asp-for="CarSpotterModel.CarName"></label>
                <input class="form-control type="text" asp-for="CarSpotterModel.CarName" />
                <span asp-validation-for="CarSpotterModel.CarName"></span>
            </div>
            <div class="form-group mt-4">
                <label class="form-label" asp-for="CarSpotterModel.Date"></label>
                <input class="form-control type="date" asp-for="CarSpotterModel.Date" />
                <span asp-validation-for="CarSpotterModel.Date"></span>
            </div>
            <div class="form-group mt-4">
                <label class="form-label" asp-for="CarSpotterModel.Quantity"></label>
                <input class="form-control type="number" asp-for="CarSpotterModel.Quantity" />
                <span asp-validation-for="CarSpotterModel.Quantity"></span>
            </div>
            <div class="form-group mt-4">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </div>
    </fieldset>
</form>
