@page
@model Water_Logger.Pages.DeleteModel
@{
}

<form method="post">
    <input asp-for="LoggingData.Id" hidden disabled>
    <div class="border mt-4 p-3">
        <div class="row">
            <h2 class="text-danger pl-3">Delete Water Log</h2>
            <hr/>
        </div>

        <div class="mb-3">
            <label asp-for="LoggingData.Date"></label>
            <input asp-for="LoggingData.Date" class="form-control mt-2" disabled>
        </div>

        <div class="mb-3">
            <label asp-for="LoggingData.Quantity"></label>
            <input asp-for="LoggingData.Quantity" class="form-control mt-2" disabled>
        </div>
        
        <button type="submit" class="btn btn-danger" style="width:25%;">DELETE LOG</button>
        <a class="btn btn-secondary" asp-page="/Index" style="width:25%">BACK TO INDEX</a>
    </div>
</form>
