
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  font-size:1rem;
}



.greatRead {
    background-color: #76453B;
    color: #F8FAE5;
}

.normalRead {
    background-color: #76453B;
    color: #F8FAE5;
}

body {
    background-color: #43766C;
}


th {
    color: #B19470;
    font-weight:bold;
    font-size:1.1rem;
}

h2 {
    color: #F8FAE5;
    font-family: "Alegreya", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}
.viewButton {
    color: #B19470;
}

#addbutton {
    fill: #54436B;
    color: #54436B;
}

input[type="text"], input[type="date"], input[type="number"], textarea {
    background-color: #76453B;
    color: #F8FAE5;
}

#tableheads a {
    text-decoration: none;
    color: #B19470;
    font-weight: bold;
    font-size: 1.1rem;
}

    #tableheads a:hover {
        text-decoration: none;
        color: #F8FAE5;
        font-weight: bold;
        font-size: 1.1rem;
    }

#TotalPages {
    background-color: #754435;
    color: #F8FAE5;
    opacity: 0.4;
    cursor: not-allowed;
}
