html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.logo {
    width: 80px;
}

.background {
    position: relative;
    z-index: 1;
    height: 100vh;
}

    .background::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-image: url(https://images.pexels.com/photos/416528/pexels-photo-416528.jpeg?cs=srgb&dl=pexels-pixabay-416528.jpg&fm=jpg);
        opacity: .5;
        background-size: cover;
    }

.btn-danger {
    background-color: #5c5c5c;
    border: none;
}

.btn-primary {
    background-color: white;
    border: none;
    color: #15446c;
}

.btn-success {
    background-color: #15446c;
    border: none;
}