@page
@model WaterLogger.samggannon.Pages.CreditsModel
@{
}

<h1>Credits</h1>
<ul>
    <p>Images on this website:</p>
    <ul>
        <li><a href="https://www.flaticon.com/free-icons/mascot" title="mascot icons">Mascot icons created by pbig - Flaticon</a></li>
    </ul>
</ul>
    
