@page
@model WeightLogger.samggannon.Pages.DeleteModel
@{
}

<h3>Are you sure you want to delete this record </h3>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    @if (Model.weightRecord != null)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.weightRecord.loggedDate?.ToString("yyyy-MM-dd")</td>
                    <td>@Model.weightRecord.weightValue</td>
                    <td>
                        <input type="hidden" asp-for="weightRecord.Id" />
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </td>
                </tr>
            </tbody>
        </table>
    }
    else
    {
        <p>No record available to delete.</p>
    }
</form>

<div>
    <a asp-page="./WeightHistory">Back to List</a>
</div>
    

