@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Weight Tracker</h1>
    <p>Step on the scale by clicking on the footprints to see previous recorded weight</p>
</div>

<div class="container">
    <img src="~/images/scale.png" alt="Scale Image" class="scale-image">
    <div class="input-container form-group">
        <a href="/WeightHistory">
            <img src="~/images/print.png" alt="Footprints" class="footprints-image">
        </a>
    </div>
</div>

