@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Database Connection Test</h1>
    <p>Connection Status: @Model.ConnectionStatus</p>
</div>

<div class="container">
    <img src="~/images/scale.png" alt="Scale Image" class="scale-image">
    <div class="input-container form-group">
        <a href="/WeightHistory">
            <img src="~/images/print.png" alt="Footprints" class="footprints-image">
        </a>
    </div>
</div>

@* attribute the artist of the pngs <a href="https://www.flaticon.com/free-icons/paw" title="paw icons">Paw icons created by IYIKON - Flaticon</a> *@