@page
@model ExerciseTrackerMVCCarDioLogic.Pages.CreateExerciseTypeModel
@{
}

<h4>Add Exercise Type</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="ExerciseType.ExerciseTypeName" class="control-label"></label>
                <input asp-for="ExerciseType.ExerciseTypeName" class="form-control" />
                <span asp-validation-for="ExerciseType.ExerciseTypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>