@model GameTracker.Forser.Models.GameInfo

@{
    ViewData["Title"] = "Game Details for " + Model.GameTitle;
}

<h1>Game Details for @Model.GameTitle</h1>

<div class="row-cols-1">
    @Html.DisplayNameFor(model => model.GameDescription)
</div>
<div class="row-cols-1">
    @Html.DisplayFor(model => model.GameDescription)
</div>

<div>
    <a asp-action="Index">Return to Games</a>
</div>