@model GameTracker.Forser.Models.GameInfo

@{
    ViewData["Title"] = "Edit a Game";
}

<h1>Edit @Model.GameTitle</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="Id" asp-for="Id" />
            <div class="form-group">
                <label asp-for="GameTitle" class="control-label"></label>
                <input asp-for="GameTitle" class="form-control" />
                <span asp-validation-for="GameTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameDescription" class="control-label"></label>
                <input asp-for="GameDescription" class="form-control" />
                <span asp-validation-for="GameDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to Games</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}