@page
@model WaterLogger.Pages.HabitUnits.UpdateModel
@{
    
}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header bg-primary bg-gradient">
                    Update Habit Unit
                </div>
                <div class="card-body bg-light bg-gradient">
                    <form method="post">
                        <input type="hidden" asp-for="HabitUnit.Id">
                        <div class="form-floating mb-2 row">
                            <input type="text" class="form-control form-control-sm" asp-for="HabitUnit.Unit"
                                placeholder="Unit">
                            <label asp-for="HabitUnit.Unit"></label>
                            <span asp-validation-for="HabitUnit.Unit" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <input type="submit" value="Update" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>