html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}


table {
    background-color: rgb(74, 161, 230, 0.6);
}

.logo {
    width: 70px;
}

.background {
    position: relative;
    z-index: 1;
    height: 100vh;
}
    .background::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-image: url(/img/background.jpg);
        opacity: 0.8;
        background-size: cover;
    }

.form-group {
    margin-bottom: 15px;
    margin-top: 15px;
}


