html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.logo {
    width: 80px;
}

.background {
    position: relative;
    z-index: 1;
    height: 100vh;
}

    .background::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
        opacity: .5;
        background-size: cover;
    }

.btn-danger {
    background-color: #5c5c5c;
    border: none;
}

.btn-primary {
    background-color: white;
    border: none;
    color: #15446c;
}

.btn-success {
    background-color: #15446c;
    border: none;
}

.form-group {
    margin-bottom: 20px;
}

.highlight {
    display: inline-block;
    padding: .25em 0;
    /*background: #FFC107;*/
    color: #0d584b;
    font-size: 120%;
    font-weight: 10;
}

.form-button-container {
    display: inline-block;
    vertical-align: middle;
}

.wrap {
    width: 500px;
}

.fake-input--box {
    box-sizing: border-box;
    width: 100%;
    padding: 5px 0;
}

    .fake-input--box input[type=text] {
        margin: 5px;
        padding: 5px;
        border: none;
        outline: none;
        border-bottom: 2px #ddd solid;
        width: 100px;
        float: left;
    }

        .fake-input--box input[type=text]:focus {
            border-bottom: 2px #4285F4 solid;
        }

.tag-label {
    font-size: 14px;
    color: #999;
}

.tag {
    cursor: pointer;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    float: left;
    margin: 5px 5px 5px 0;
    padding: 5px;
    background: #4285F4;
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
}

    .tag:hover:after {
        position: absolute;
        padding: 5px 0;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background: #4285F4;
        content: "\00d7";
    }

#showarray {
    color: black;
    margin-top: 30px;
    box-sizing: border-box;
    width: 100%;
    padding: 30px;
    border: 1px solid #ddd;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}