@page
@model HabitTracker.WebUI.Pages.UpdateHabitLogModel
@{
        ViewData["Title"] = "Update Log";
}

<h2 class="page-title">Update @Html.DisplayFor(x => x.Habit!.Name) Log</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input type="hidden" asp-for="HabitLog!.Id" />
            <input type="hidden" asp-for="HabitLog!.HabitId" />
            <div class="form-group">
                <label asp-for="HabitLog!.Date" class="control-label">Date</label>
                <input type="date" asp-for="HabitLog!.Date" class="form-control" />
                <span asp-validation-for="HabitLog!.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HabitLog!.Quantity" class="control-label">Quantity</label>
                <input type="number" asp-for="HabitLog!.Quantity" class="form-control" />
                <span asp-validation-for="HabitLog!.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-success" />
                <a button type="button" class="btn btn-secondary" asp-page="ViewHabitLogs" asp-route-habitId="@Model.HabitLog!.HabitId">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
