@page
@using Data
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ApplyingTracker.Pages.UpdateModel
@{
    ViewData["Title"] = "Update";
}

<h2>Update Application</h2>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input type="hidden" asp-for="Application.Id" />
            <div class="form-group">
                <label asp-for="Application.CompanyName" class="control-label"></label>
                <input type="text" asp-for="Application.CompanyName" class="form-control"/>
                <span asp-validation-for="Application.CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Application.Date" class="control-label"></label>
                <input type="date" asp-for="Application.Date" class="form-control"/>
                <span asp-validation-for="Application.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Application.IsCoverLetterIncluded" class="control-label"></label>
                <input type="checkbox" asp-for="Application.IsCoverLetterIncluded"/>
                <span asp-validation-for="Application.IsCoverLetterIncluded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Application.Status" class="control-label"></label>
                <select asp-for="Application.Status" class="form-control" asp-items="Html.GetEnumSelectList<StatusOptions>()"></select>
                <span asp-validation-for="Application.IsCoverLetterIncluded" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success">Update</button>
        </form>
    </div>
</div>
