@page "{id:int?}"
@model kmakai.MVC.RunningTracker.Pages.DeleteModel
@{
    ViewData["Title"] = "Delete A Run";
}

<h1>Delete A Run</h1>

<hr />

<div class="row">
    <dl>
        <dt>Date</dt>
        <dd>@Model.Run.Date.ToShortDateString()</dd>
        <dt>Miles</dt>
        <dd>@Model.Run.Miles</dd>
        <dt>Minutes</dt>
        <dd>@Model.Run.Minutes</dd>
    </dl>
    <hr />

<p class="text-danger fs-5 fw-semibold">Are you sure you want to delete this?</p>
    <form method="post">
        <input type="hidden" asp-for="Run.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-page="./Index" class="btn btn-primary">Back to List</a>
    </form>
</div>