html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn{

  border-style: none;
  color: white;
}

.form-group{
  margin-bottom: 20px;
}

.background {
  position: relative;
  z-index: 1;
  height: 100vh;
}

  .background::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-image: url('../img/background.jpg');
    opacity: 0.25;
  }

.btn-success, .btn-primary {
  background-color: #5C5248;
}

.btn-danger {
  background-color: #12171A;
}

.btn-warning {
  background-color: #887C6D;
}
.header-icon {
  width: 1.5em;
  height: 1.5em;
  /* vertical-align: -0.125em; */ 
  margin-right: 5px;
}