<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Habit Tracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
        
        <header class="header-section">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm">
                <div class="container header-container">
                <a class="navbar-brand header-logo-container" asp-area="" asp-page="/Index">
                        <img class="header-logo" src="./img/habit-tracker-mvc-logo.png" />
                        <span class="header-subtitle"> Habit Tracker </spap>
                    </a>
                </div>
            </nav>
        </header>

    <div class="main-section">
        <div class="main-container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

        @* <footer class="border-top footer text-muted"> *@

    <footer class="footer-container">
        <div class="main-footer">
            &copy; Copyright @DateTime.Now.Year. Made by <a href="https://chrisjamiecarter.github.io/">Chris Carter</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>