@page
@model WaterDrinking.Pages.CreateModel
@{
}

<h4>Add Record</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group mb-3">
                <label asp-for="DrinkingWater.Date" class="control-label"></label>
                <input type="date" asp-for="DrinkingWater.Date" class="form-control" />
                <span asp-validation-for="DrinkingWater.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DrinkingWater.Quantity" class="control-label"></label>
                <input type="number" asp-for="DrinkingWater.Quantity" class="form-control" />
                <span asp-validation-for="DrinkingWater.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success mt-2" />
            </div>
        </form>
    </div>
</div>