.custom-button {
    background-color: transparent;
    color: black;
    border: inherit;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

    .custom-button:hover {
        background-color: #cacfe6;
        color: black;
    }

.btn-table {
    background-color: transparent;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 2px;
    cursor: pointer;
}

.btn-table:hover {
    background-color: #cacfe6;
    color: black;
}

.form-button {
    margin-top: 22px;
}