.custom-button {
    background-color: transparent;
    color: black;
    border: inherit;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

    .custom-button:hover {
        background-color: #cacfe6;
        color: black;
    }
