body {
    background-attachment: fixed; 
    background-image: url('/lib/background.PNG');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    font-family: 'Splash', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    align-items: center;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    margin-top: -170px;
    width: 500px;
}


.header {
    align-items: center;
    color: black;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Splash', sans-serif;
    height: 150px;
    justify-content: center;
    text-align: center;
    width: 100%;
    width: 500px;
}

.header-text { font-size: 78px; }

.header-undertext {
    font-size: 40px;
    margin-top: -20px;
}

.links {
    align-items: flex-start;
    background-color: white;
    box-sizing: border-box;
    column-gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px;
    row-gap: 15px;
}

.links a {
    align-items: center;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    box-sizing: border-box;
    color: black;
    display: flex;
    font-size: 14px;
    justify-content: center;
    text-decoration: none;
}

.header-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
}

.records-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.record-row {
    align-items: center;
    border-bottom: 1px solid black;
    border-radius: 1px;
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    padding: 10px;
    text-align: left;
}

.record-header {
    align-items: center;
    border-bottom: 1px solid black;
    border-radius: 1px;
    display: flex;
    font-weight: bold;
    gap: 55px;
    grid-template-columns: 1fr 1fr auto;
    padding: 10px;
    text-align: left;
}

.record-row span { text-align: center; }


.record-actions {
    display: flex;
    justify-content: flex-end;
}

.record-info {
    display: flex;
    gap: 30px;
}

.header-record {
    font-size: 30px;
    padding-bottom: 20px;
}

.row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-row {
    align-items: center;
    display: flex;
    gap: 15px;
}

.navbar-brand {
    font-size: 30px;
    margin-left: 25px;
}

.navbar-brand:hover { opacity: 0.7; }

.navbar {
    backdrop-filter: blur(5px);
    opacity: 0.7;
}


.form-group-c {
    align-items: center;
    display: flex;
}

.form-name {
    display: flex;
    flex-direction: column;
    width: 100px;
}

.form-group .form-name { flex: 1; }

.underheader {
    display: flex;
    flex-wrap: wrap;
}

.body {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 40px;
}