body {
    font-family: 'Splash', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: transparent;
    width: 500px;
    margin-top: -170px;
}

.text-center {
   
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Splash', sans-serif;
    color: black;
    height: 150px;
    width: 500px;
    flex-wrap: wrap;
    text-align: center;
}

.header-text{
    font-size: 78px;
}

.header-undertext {
    margin-top: -20px;
    font-size: 40px;
}

.links {
    display: flex;
    flex-wrap: wrap; /* Дозволяє перенесення на новий рядок */
    justify-content: flex-start; /* Вирівнювання кнопок по лівому краю */
    align-items: flex-start; /* Вирівнювання рядків по верхньому краю */
    row-gap: 15px; /* Відстань між рядками */
    column-gap: 10px; 
    padding: 10px;
    background-color: white;
    box-sizing: border-box; 
}

    .links a {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        color: black;
        border: 1px solid gray;
        border-radius: 5px; 
        text-decoration: none;
        font-size: 14px;
        box-sizing: border-box;
    }

.header-buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    gap: 30px;
}

.record-container {
    width: 100%; /* Вся ширина */
    display: flex;
    flex-direction: column;
    gap: 5px; /* Відстань між записами */
}

.record-row {
    display: grid;
    grid-template-columns: 1fr 1fr auto; /* Дві рівні колонки і одна для кнопок */
    align-items: center; /* Вирівнювання по вертикалі */
    padding: 10px;
    border-bottom: 1px solid black;
    border-radius: 1px;
    text-align: left;
}

.record-header {
    display: flex;
    gap: 55px;
    grid-template-columns: 1fr 1fr auto; /* Дві рівні колонки і одна для кнопок */
    align-items: center; /* Вирівнювання по вертикалі */
    padding: 10px;
    border-bottom: 1px solid black;
    border-radius: 1px;
    text-align: left;
    font-weight: bold; /* Жирний текст для заголовків */
    /* Відділення заголовка */
}

.record-row span {
    text-align: center; /* Вирівнюємо значення в колонках */
}


.record-actions {
    display: flex;
    gap: 10px; /* Відстань між кнопками */
    justify-content: flex-end; /* Вирівнювання кнопок по правому краю */
}



.record-info {
    display: flex;
    gap: 30px;
}

.header-record {
    font-size: 30px;
    padding-bottom: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}



.form-row {
    display: flex; /* Робимо всі дочірні елементи в рядок */
    gap: 15px; /* Відстань між елементами */
    align-items: center; /* Вирівнюємо по вертикалі */
}

.navbar-brand {
    margin-left: 20px;
}
